{{ define "header"}}
	{{- partial "navbar.html" . -}}
{{ end }}

{{ define "main" }}
  This is the method list default template.
  <main>
    <section class="method-article-intro">
      {{ partial "method-article-intro.html" }}
    </section>
    <section class="article-list">
      <div class="wrapper">
        <div class="grid">
          {{ range .Pages }}
            <div class="panel article-panel">
              <a href="{{ .Permalink }}"><img src="{{ .Params.image | relURL }}" alt=""></a>
              <div class="group-text">
                <a href="{{ .Permalink }}"><h2>{{- .Title -}}</h2></a>
                  <p>{{ .Params.summary }}</p>
              </div>
              <div class="article-button">
                <p><a class="button" href="{{ .Permalink }}">Read article</a></p>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  </main>

{{ end }}

{{ define "footer"}}
    {{- partial "footer.html" . -}}
{{ end }}