{{ define "header"}}
  	{{- partial "navbar.html" . -}}
{{ end }}

{{ define "main" }}
  <main>
    <section class="method-article-page">
      <div class="page">
        <div class="banner">
          <img src="{{ .Params.image | relURL }}">
          <div class="banner-content">
            <div class="banner-text">
              <p>The Good Docs Project method</p>
            </div>
            <div class="banner-heading">
              <h2>{{- .Title -}}</h2>
            </div>
          </div>
        </div>
        <div class="method-article-content">
          <div class="main-content">
            <div class="method-article">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{{ end }}

{{ define "footer"}}
    {{- partial "footer.html" . -}}
{{ end }}