.header-logo img {
  object-fit: cover;
  padding-left: 20px;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  color: #fff;
  transition: all 0.2s ease-out 0s;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dedede;
  z-index: 10;
  background-image: #fffff0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 60px;
  margin: 0px;
}

.navbar.bg-light {
  background: #fff !important;
}

.navbar .nav-item .nav-link {
  color: #444 !important;
  font-size: 18px;
  font-weight: 500;
  transition: .3s all;
  text-transform: uppercase;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
}

.navbar .nav-item .nav-link:hover {
  color: #800020 !important;
}

.navbar .nav-item:last-child .nav-link {
  padding-right: 0;
}

section.article-list {
  padding:100px 0 175px;
  position:relative;
  background: rgb(65,2,77);
  background: linear-gradient(0deg, rgba(65,2,77,1) 0%, rgba(128,0,32,1) 100%);
 }

section.article-list .grid {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:2rem
}

section.article-list .panel {
  background:#fff;
  border-radius:25px;
  padding:40px;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,.05);
  box-shadow:0 0 20px rgba(0,0,0,.05)
 }

section.article-list .panel img {
  width:100%;
  border-radius:25px;
  height:400px;
  -o-object-fit:cover;
  object-fit:cover
}

section.article-list .panel h2 {
  font-size:30px;
  line-height:1.5;
  margin:15px 0;
  color: #000;
}

section.article-list .panel a {
  text-decoration: none;
}

section.article-list .panel p {
  font-size:16px;
  line-height:24px
}

section.article-list .panel .group-text {
  padding-bottom:20px;
  margin-bottom:15px;
}

section.article-list .article-panel {
  margin-bottom: 30px;
 }


.button {
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 17px;
  background: #800020;
  color: #fff;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  margin: auto;
}

.button:hover {
  background: #000;
  color: #fff;
}

.wrapper {
  max-width:1000px;
  margin:0 auto
 }

 section.method-article-page {
  padding:100px 0 175px;
  position:relative;
  background:#11beac;
  background:-webkit-gradient(linear,left top,left bottom,from(rgba(17,190,172,.2)),to(#fff));
  background:-webkit-linear-gradient(top,rgba(17,190,172,.2),#fff);
  background:-o-linear-gradient(top,rgba(17,190,172,.2) 0,#fff 100%);
  background:linear-gradient(180deg,rgba(17,190,172,.2),#fff)
}

section.method-article-page ul li {
  list-style: disc;
  margin-left: 20px;
}

section.method-article-page .page {
  background:#fff;
  border-radius:25px;
  padding:40px;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,.05);
  box-shadow:0 0 20px rgba(0,0,0,.05)
}

section.method-article-page .page-thumbnail {
  width: 100%;
  height: 600px;
  background-position: top;
  background-size: cover;
  margin-bottom: 40px;
}

@media screen and (max-width:900px) {
  section.method-article-page .page-thumbnail {
      height: 200px;
  }
}

 .banner {
  position:relative;
}
.banner-image img {
  width:100%;
 }
.banner-content {
  position:absolute;
  bottom:100px;
  left:10%;
  max-width:500px;
}
.banner-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.banner-heading {
  background-color: rgba(255,255,255,0.7);
  color: #000;
  padding: 20px;
 }
.banner-heading h2 {
  font-size:25px;
  line-height:1.5;
  margin:0 0 10px;
 }
 .method-article-content {
  width: 1000px;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
 }
