<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- block "header" . }}{{- end }}
        <div class="site-content">
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
            {{- block "footer" . }}{{- end }}
        </div>
        {{- partial "js.html" . -}}
    </body>
</html>