{{ define "header"}}
	{{- partial "navbar.html" . -}}
{{ end }}

{{ define "main" }}
  This is the list default template.
  <section class="block mt-8 px-8 mb-12">
    <div class="w-full max-w-6xl mx-auto pb-8 prose prose-img:rounded-xl prose-img:max-w-2xl prose-headings:underline">
      <h2 class="blog-post-title">{{ .Title }} - <span class="capitalize">{{ .Params.flavor }}</span></h2>
      {{ .Content }}
    </div>
  </section>

{{ end }}

{{ define "footer"}}
    {{- partial "footer.html" . -}}
{{ end }}
