{{ $links := .Site.Params.links -}}
<footer class="my-footer">
	<div class="container">
			<div class="footer-social">
				{{ with $links }}
				{{ with index . "social" }}
				{{ template "footer-links-block"  . }}
				{{ end }}
				{{ end }}
			</div>
			<div class="my-footer-copyright">
				<p>Copyright {{ with .Site.Params.copyright }}&copy; {{ now.Year}} {{ . }} {{ T "footer_all_rights_reserved" }}{{ end }}</p>
			</div>
	</div>
</footer>

{{- define "footer-links-block" }}
<ul>
  {{ range . }}
  <li>
    <a title="{{ .name }}" target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end -}}