<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{ hugo.Generator }}
	{{ with .Site.Params.logo }}
	<link rel="icon" href="{{ . | urlize | relURL }}">
	{{ end }}
	<title>{{ .Params.Title }} | {{ .Site.Title }}</title>
	{{ with .Site.Params.meta.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.meta.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

	<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<link href="{{ "/css/main.css" | urlize | relURL }}" rel="stylesheet">
	<link href="{{ "/css/medium.css" | urlize | relURL }}" rel="stylesheet">
	<link href="{{ "/css/additional.css" | urlize | relURL }}" rel="stylesheet">

	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

	<script src="https://kit.fontawesome.com/29b9d08e42.js" crossorigin="anonymous"></script>

</head>