<div class="method-article-intro">
  <div class="container">
    <h1>The Good Docs Project method</h1>

    <p>Learn more about our recommended methods for improving the documentation in your project.</p>
  </div>
</div>