<nav class="navbar">
  <a class="header-logo" href="{{ .Site.BaseURL }}">
    <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/method">The Good Docs Project method</a></li>
  </ul>
</nav>